<main class="content">
    <div class="container-fluid p-0">

        <h1 class="h3 mb-3">Planes & Servicios</h1>

        <div class="row">
            <div class="col-md-10 col-xl-8 mx-auto">
                <h1 class="text-center">We have a plan for everyone</h1>
                <p class="lead text-center mb-4">Whether you're a business or an individual, 14-day trial no credit card
                    required.</p>

                <div class="row justify-content-center mt-3 mb-2">
                    <div class="col-auto">
                        <nav class="nav btn-group">
                            <a href="#netflix" class="btn btn-outline-primary active" data-toggle="tab">Netflix</a>
                            <a href="#iux" class="btn btn-outline-primary" data-toggle="tab">Iux</a>
                            <a href="#Soat" class="btn btn-outline-primary" data-toggle="tab">Soat</a>
                            <a href="#transferencias" class="btn btn-outline-primary" data-toggle="tab">Transferencias</a>
                            <a href="#otros" class="btn btn-outline-primary" data-toggle="tab">Otros</a>
                        </nav>
                    </div>
                </div>

                <div class="tab-content">
                    <div class="tab-pane fade show active" id="netflix">
                        <div class="row py-4">
                            <div class="col-sm-4 mb-3 mb-md-0">
                                <div class="card text-center h-100">
                                    <div class="card-body d-flex flex-column">
                                        <div class="mb-4">
                                            <h5>Paquete ?</h5>
                                            <span class="display-4">$30</span>
                                            <span class="text-small4">.000</span>
                                        </div>
                                        <h6>
                                            <i class="align-middle mr-2" data-feather="monitor"></i>
                                            <i class="align-middle mr-2" data-feather="tv"></i>
                                        </h6>
                                        <ul class="list-unstyled">
                                            <li class="mb-4">
                                                <div class="btn-group">
                                                    <button type="button" class="btn btn-primary dropdown-toggle"
                                                        data-toggle="dropdown" aria-haspopup="true"
                                                        aria-expanded="false">
                                                        Elegir Dispositivos
                                                    </button>
                                                    <div class="dropdown-menu">
                                                        <a class="dropdown-item" href="#">1 Pantalla SD</a>
                                                        <a class="dropdown-item" href="#">2 Pantalla HD</a>
                                                        <a class="dropdown-item" href="#">4 Pantalla 4K</a>
                                                        <div class="dropdown-divider"></div>
                                                        <a class="dropdown-item" href="#">Mas informacion</a>
                                                    </div>
                                                </div>
                                            </li>
                                            <h6><i class="align-middle mr-2" data-feather="phone"></i></h6>
                                            <li class="mb-4">
                                                <input type="text" class="form-control" data-mask="000-000-0000"
                                                    placeholder="Movil" style="text-align:center">
                                            </li>
                                            <h6><i class="align-middle mr-2" data-feather="user"></i></h6>
                                            <li class="mb-4">
                                                <input type="text" class="form-control" placeholder="Nombre completo"
                                                    style="text-align:center">
                                            </li>
                                            <li class="mb-2">
                                                Info del servicio:
                                            </li>
                                            <span class="display-4">NETFLIX</span>
                                        </ul>
                                        <div class="mt-auto">
                                            <a href="#" class="btn btn-lg btn-primary">Pagar</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4 mb-3 mb-md-0">
                                <div class="card text-center h-100">
                                    <div class="card-body d-flex flex-column">
                                        <div class="mb-4">
                                            <h5>Standard</h5>
                                            <span class="display-4">$50</span>
                                            <span class="text-small4">.000</span>
                                        </div>
                                        <h6>
                                            <i class="align-middle mr-2" data-feather="monitor"></i>
                                            <i class="align-middle mr-2" data-feather="tv"></i>
                                        </h6>
                                        <ul class="list-unstyled">
                                            <li class="mb-4">
                                                <div class="btn-group">
                                                    <button type="button" class="btn btn-primary dropdown-toggle"
                                                        data-toggle="dropdown" aria-haspopup="true"
                                                        aria-expanded="false">
                                                        Elegir Dispositivos
                                                    </button>
                                                    <div class="dropdown-menu">
                                                        <a class="dropdown-item" href="#">1 Pantalla SD</a>
                                                        <a class="dropdown-item" href="#">2 Pantalla HD</a>
                                                        <a class="dropdown-item" href="#">4 Pantalla 4K</a>
                                                        <div class="dropdown-divider"></div>
                                                        <a class="dropdown-item" href="#">Mas informacion</a>
                                                    </div>
                                                </div>
                                            </li>
                                            <h6><i class="align-middle mr-2" data-feather="phone"></i></h6>
                                            <li class="mb-4">
                                                <input type="text" class="form-control" data-mask="000-000-0000"
                                                    placeholder="Movil" style="text-align:center">
                                            </li>
                                            <li class="mb-2">
                                                Info del servicio:
                                            </li>
                                            <span class="display-4">NETFLIX</span>
                                        </ul>
                                        <div class="mt-auto">
                                            <a href="#" class="btn btn-lg btn-outline-primary">Pagar</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4 mb-3 mb-md-0">
                                <div class="card text-center h-100">
                                    <div class="card-body d-flex flex-column">
                                        <div class="mb-4">
                                            <h5>Plus</h5>
                                            <span class="display-4">$90</span>
                                            <span class="text-small4">.000</span>
                                        </div>
                                        <h6>
                                            <i class="align-middle mr-2" data-feather="monitor"></i>
                                            <i class="align-middle mr-2" data-feather="tv"></i>
                                        </h6>
                                        <ul class="list-unstyled">
                                            <li class="mb-4">
                                                <div class="btn-group">
                                                    <button type="button" class="btn btn-primary dropdown-toggle"
                                                        data-toggle="dropdown" aria-haspopup="true"
                                                        aria-expanded="false">
                                                        Elegir Dispositivos
                                                    </button>
                                                    <div class="dropdown-menu">
                                                        <a class="dropdown-item" href="#">1 Pantalla SD</a>
                                                        <a class="dropdown-item" href="#">2 Pantalla HD</a>
                                                        <a class="dropdown-item" href="#">4 Pantalla 4K</a>
                                                        <div class="dropdown-divider"></div>
                                                        <a class="dropdown-item" href="#">Mas informacion</a>
                                                    </div>
                                                </div>
                                            </li>
                                            <h6><i class="align-middle mr-2" data-feather="phone"></i></h6>
                                            <li class="mb-4">
                                                <input type="text" class="form-control" data-mask="000-000-0000"
                                                    placeholder="Movil" style="text-align:center">
                                            </li>
                                            <li class="mb-2">
                                                Info del servicio:
                                            </li>
                                            <span class="display-4">NETFLIX</span>
                                        </ul>
                                        <div class="mt-auto">
                                            <button class="btn btn-lg btn-outline-primary">Activar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="iux">
                        <div class="row py-4">
                            <div class="col-sm-4 mb-3 mb-md-0">
                                <div class="card text-center h-100">
                                    <div class="card-body d-flex flex-column">
                                        <div class="mb-4">
                                            <h5>1 Mes</h5>
                                            <span class="display-4">$18</span>
                                            <span class="text-small4">.000</span>
                                        </div>
                                        <h6>

                                        </h6>
                                        <form id="formulario" action="/navegar" method="POST">
                                        <ul class="list-unstyled">  
                                            <li class="mb-2">
                                                Para todos los dispositivos dentro de una misma red
                                            </li>
                                            <li class="mb-4">
                                                <input type="hidden" name="suscp" class="form-control" value="1">
                                            </li>

                                            <li class="mb-4">
                                                <input type="text" name="movil" class="form-control" placeholder="Movil" style="text-align:center">
                                            </li>

                                            <li class="mb-4">
                                                <input type="text" name="nombre" class="form-control" placeholder="Nombre completo"
                                                    style="text-align:center">
                                            </li>
                                            <li class="mb-2">
                                                <input type="email" name="email" class="form-control" placeholder="Email"
                                                    style="text-align:center">
                                            </li>
                                            <span class="display-4">IUX</span>
                                            <h5>Todo lo que quieres ver cuando lo quieras ver y en un solo lugar</h5>
                                        </ul>
                                        <div class="mt-auto">
                                            <button id="ventaiux" class="btn btn-lg btn-outline-primary">Activar</button>
                                        </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4 mb-3 mb-md-0">
                                <div class="card text-center h-100">
                                    <div class="card-body d-flex flex-column">
                                        <div class="mb-4">
                                            <h5>Standard</h5>
                                            <span class="display-4">$199</span>
                                            <span class="text-small4">/mo</span>
                                        </div>
                                        <h6>Includes:</h6>
                                        <ul class="list-unstyled">
                                            <li class="mb-2">
                                                5 users
                                            </li>
                                            <li class="mb-2">
                                                50 projects
                                            </li>
                                            <li class="mb-2">
                                                50 GB storage
                                            </li>
                                            <li class="mb-2">
                                                Security policy
                                            </li>
                                            <li class="mb-2">
                                                Weekly backups
                                            </li>
                                        </ul>
                                        <div class="mt-auto">
                                            <a href="#" class="btn btn-lg btn-primary">Try it for free</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4 mb-3 mb-md-0">
                                <div class="card text-center h-100">
                                    <div class="card-body d-flex flex-column">
                                        <div class="mb-4">
                                            <h5>Plus</h5>
                                            <span class="display-4">$399</span>
                                            <span>/mo</span>
                                        </div>
                                        <h6>Includes:</h6>
                                        <ul class="list-unstyled">
                                            <li class="mb-2">
                                                Unlimited users
                                            </li>
                                            <li class="mb-2">
                                                Unlimited projects
                                            </li>
                                            <li class="mb-2">
                                                250 GB storage
                                            </li>
                                            <li class="mb-2">
                                                Priority support
                                            </li>
                                            <li class="mb-2">
                                                Security policy
                                            </li>
                                            <li class="mb-2">
                                                Daily backups
                                            </li>
                                            <li class="mb-2">
                                                Custom CSS
                                            </li>
                                        </ul>
                                        <div class="mt-auto">
                                            <a href="#" class="btn btn-lg btn-outline-primary">Try it for free</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="Soat">
                        <div class="row py-4">
                            <div class="col-sm-12 mb-3 mb-md-0">
                                <div class="card text-center h-100">
                                    <div class="card-body d-flex flex-column">
                                        <form>
                                            <div class="form-row">
                                                <div class="form-group col-md-2">
                                                    <label for="inputCity">Placa</label>
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" placeholder="Placa...">
                                                        <span class="input-group-append">
                                                            <button class="btn btn-secondary"
                                                                type="button">Cotizar</button>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <br>
                                            <div class="form-row">
                                                <div class="form-group col-md-3">
                                                    <select id="tipodoc" class="form-control">
                                                        <option selected>Tipo de documento...</option>
                                                        <option>Cedula de ciudadania</option>
                                                        <option>Pasaporte</option>
                                                        <option>Cedula de extrangeria</option>
                                                    </select>
                                                </div>
                                                <div class="form-group col-md-2">
                                                    <input type="text" class="form-control" id="documento"
                                                        placeholder="Documento">
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <input type="text" class="form-control" id="nombre"
                                                        placeholder="Nombre completo">
                                                </div>
                                            </div>

                                            <div class="form-row">
                                                <div class="form-group col-md-2">
                                                    <input type="text" class="form-control" id="inputEmail4"
                                                        placeholder="Movil">
                                                </div>
                                                <div class="form-group col-md-4">
                                                    <input type="email" class="form-control" id="inputEmail4"
                                                        placeholder="Email">
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <input type="text" class="form-control" id="inputAddress"
                                                        placeholder="Direccion">
                                                </div>
                                            </div>
                                            <br>
                                            <div class="form-row">
                                                <div class="form-group col-md-3">
                                                    <label for="inputCity">Ciudad</label>
                                                    <input type="text" class="form-control" id="inputCity">
                                                </div>
                                                <div class="form-group col-md-4">
                                                    <label for="inputState">Departamento</label>
                                                    <select id="inputState" class="form-control">
                                                        <option selected>Choose...</option>
                                                        <option>...</option>
                                                    </select>
                                                </div>
                                                <div class="form-group col-md-2">
                                                    <label for="inputZip">Postal</label>
                                                    <input type="text" class="form-control" id="inputZip">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="custom-control custom-checkbox m-0">
                                                    <input type="checkbox" class="custom-control-input">
                                                    <span class="custom-control-label">Check me out</span>
                                                </label>
                                            </div>
                                            <button type="submit" class="btn btn-primary">Efectuar soat</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <hr />

                <div class="text-center my-4">
                    <h2>Frequently asked questions</h2>
                </div>
                <div class="row">
                    <div class="col-md-5 col-sm-6 ml-auto">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="h6 card-title">Do I need a credit card to sign up?</h5>
                                <p class="mb-0">Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem
                                    quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit
                                    vel, luctus pulvinar, hendrerit id, lorem.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 col-sm-6 mr-auto">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="h6 card-title">Do you offer a free trial?</h5>
                                <p class="mb-0">Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem
                                    quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit
                                    vel, luctus pulvinar, hendrerit id, lorem.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 col-sm-6 ml-auto">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="h6 card-title">What if I decide to cancel my plan?</h5>
                                <p class="mb-0">Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem
                                    quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit
                                    vel, luctus pulvinar, hendrerit id, lorem.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 col-sm-6 mr-auto">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="h6 card-title">Can I cancel at anytime?</h5>
                                <p class="mb-0">Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem
                                    quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit
                                    vel, luctus pulvinar, hendrerit id, lorem.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</main>