<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Responsive Bootstrap 4 Admin &amp; Dashboard Template">
  <meta name="author" content="Bootlab">  
  <title>RedFlix - Comerce</title>

  <link rel="preconnect" href="//fonts.gstatic.com/" crossorigin>

  <!-- PICK ONE OF THE STYLES BELOW -->
  <!-- <link href="css/classic.css" rel="stylesheet"> -->
  <link href="/css/corporate.css" rel="stylesheet">
  <!-- <link href="/css/modern.css" rel="stylesheet"> -->
  
</head>
<body>  
  <div class="wrapper">
    {{>navigation}}
    <div class="main">
      {{>navigation2}}
      {{{ body }}}
      {{>footer}}
    </div>
  </div>
  <script src="/js/app.js"></script>
  <script src="/js/scriptss.js"></script> 
 {{>message}} 
</body>
</html>